/* Logout Button */
.sidebar .nav > li.logout-btn{
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.sidebar .nav > li.logout-btn a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

/* Charts */
.card .content{
    padding: 15px 15px 10px 15px;
}

.chart-pie{
    padding-left: 15rem;
}

/* Profile */
