/* Sidebar */
.sidebar-wrapper{
    background-color: #004f6d;
}

/* Logout Button */
.sidebar .nav > li.logout-btn{
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.sidebar .nav > li.logout-btn a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

/* Charts */
.card .content{
    padding: 15px 15px 10px 15px;
}

/* Space in-between buttons */
.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group{
    margin-left: 15px;
}
